<source>
  type tail
  path {{app_path}}/shared/log/production.log
  pos_file {{app_path}}/shared/log/production.log.pos
  tag {{app_name}}.rails
  format none
</source>

{% if app_fluentd_s3 is defined %}
<match {{app_name}}.rails>
  type s3

  aws_key_id {{app_fluentd_s3.key}}
  aws_sec_key {{app_fluentd_s3.secret}}
  s3_bucket {{app_fluentd_s3.bucket}}
  path {{app_fluentd_s3.path}}/rails
  {% if app_fluentd_s3.region is defined %}
  s3_region {{app_fluentd_s3.region}}
  {% endif %}
  
  format out_file
  output_time false

  buffer_path /var/log/fluentd/{{app_name}}.rails/
</match>
{% endif %}
