# {{ansible_managed}}

upstream {{proxy_name}} {
    # Path to Unicorn SOCK file, as defined previously
    server {{server}} fail_timeout=0;
}

server {
    listen 80;
    server_name {{server_name}};

    {% if cache_locations is defined %}
    location ~ ^({{cache_locations|join('|')}}) {
        proxy_cache backcache;
        # proxy_cache_bypass $http_cache_control;
        add_header X-Proxy-Cache $upstream_cache_status;
        add_header Cache-Control "public";

        include /etc/nginx/proxy_params;
        proxy_redirect off;
        proxy_pass http://{{proxy_name}};
    }
    {% endif %}

    location / {
        include /etc/nginx/proxy_params;
        proxy_redirect off;
        proxy_pass http://{{proxy_name}};
    }
}
