server {
  listen 80;
  {% if app_server_name is defined %}
  server_name {{app_server_name}}
  {% endif %}

  client_max_body_size 50M;
  error_log {{app_path}}/shared/log/nginx.error.log;
  access_log {{app_path}}/shared/log/nginx.access.log;

  root {{app_path}}/release/public;
  passenger_enabled on;
  rails_env production;
  passenger_ruby "{{app_path}}/shared/bin/ruby";
}
{% if app_server_name is defined %}
passenger_pre_start {{app_server_name}};
{% else %}
passenger_pre_start localhost;
{% endif %}
